@model DataLibrary.Models.PedidoModel
@{
    ViewData["Title"] = "Search";
}

<h1 class="text-center text-white" id="pedido-titulo">Busca tu pedido!</h1>

<form asp-action="Search" class="mx-auto text-center">

    <div class="form-group w-25 mx-auto">
        <label class="control-label"></label>
        <input name="emailCliente" placeholder="Ingrese su email..." class="form-control" />
    </div>
    <div class="form-group font-family-primary">
        <input type="submit" value="Buscar" class="btn btn-primary" />
    </div>
</form>
